#addroom * {
   padding: 0px;
   margin: 0px;
}

.clearfix:after {
   content: "";
   clear: both;
   display: block;
}

#addroom #leftblock {
   float: left;
   width: 40%;
   height: 300px;

}

#addroom #rightblock {
   float: left;
   width: 40%;
   height: 100%;

}

#addroom #buttonplus {
   float: right;
   width: 20%;
   height: 120px;
   position: fixed;
   top: 260px;
   right: 40px;
}

#addroom #button-circle {
   width: 60px;
   height: 60px;
   margin-left: 30px;
   border-radius: 100%;
}


#addroom #leftblock p {
   text-align: center;
   font-size: 40px;
}

#addroom #rightblock p {
   text-align: center;
   font-size: 40px;
}

#addroom #button-circle2 {
   width: 150px;
   height: 80px;
   margin-left: 70%;
   border-radius: 50%;
}


#addroom #button-area3 {
   margin-left: 60%;
}

#addroom #button {
   width: auto;
}

/*
#addroom .remove{
   float:right;
   vertical-align:middle;
   height:30px;
   width: 30px;
   padding:10px;
   margin-top:-245px;
   outline:none;
}

#addroom .remove p{
   margin-top:-17px;
   margin-left:-7px;
   font-size: 30px;
}
*/

#addroom .textTitle {
   margin: 20px;
}


#addroom .textTitle p {
   text-align: left;
   font-size: 25px;
   margin: 0 20px;
}

#addroom #leftblock input {
   text-align: center;
   font-size: 30px;
   margin: 0 20px;
}

#addroom #rightblock input {
   text-align: center;
   font-size: 30px;
   margin: 0 20px;
}

#addroom .main {
   margin: 10px 30px;
   border: solid thin black;
}

#addroom button {
   font-size: 30px;
   background-color: #d5c4c6;
   padding: 10px 20px;
   margin: 10px;
   border: solid thin;
}


#addroom button:hover {
   background-color: #bb6d76;
}
