#syousai body{
	background-color: #f8f6ec;
}
#syousai {text-align:center;}
#syousai table {
      border-collapse: collapse;
      border: 0px none;
    }
#syousai td {
      width:500px;
      height:45px;
    }

#syousai .noborder {
  border: 0px none;
  font-size:18px;
  font-weight: bold;
  text-align:right;
}
#syousai button{
  height: 60px;
  width: 150px;
	background-color: #d5c4c6;
  border-radius:30px;
  border: none;
  font-size: 15px;

}
#syousai .button-area {
  text-align: right;
}
#syousai button:hover {
 background-color: #bb6d76;
}

#syousai input{
	width:493px;
	height:48px;
	margin:0px;
	padding:0px;
}


#syousai hr {
	background-color: #bb6d76;
  border-top: 1px dashed #ccc;
  margin-top:-242px;

}
