input.radiobutton {
  width: 2em;
  height: 2em;
}

#maintable {
  border-collapse: collapse;
}

#maintable th {
  width: 250px;
  height: 50px;
  border: 2px #808080 solid;
}

#maintable td {
  border: 2px #808080 solid;
}

#button-area {
  margin-left: 60%;
}

#button-area2 {
  margin-left: 50%;
}

#buttonn {
  margin: 25px 15px;
  width: 50px;
  height: 50px;
  background-color: #de9587;
}

#button {
  padding: 10px 10px;
  margin: 0px 15px;
  width: 170px;
  background-color: #d5c4c6;
  border: solid thin;
}

#button:hover,
#buttonn:hover,
#radiob:hover {
  background-color: #bb6d76;
}

.radios-description {
  margin-left: 2em;
}
